<footer class="footer">
    <div class="inner-footer">
        <div class="row">
            <div class="col1">
                <h2>About Us</h2>
                <p>
                    Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts.
                </p>
                <ul class="socials">
                    <li>
                        <a href="">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col2">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Testimonials</a></li>
                    <li><a href="">Terms of Service</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col3">
                <h2>Resources</h2>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Testimonials</a></li>
                    <li><a href="">Terms of Service</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col4">
                <h2>Support</h2>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Testimonials</a></li>
                    <li><a href="">Terms of Service</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col5">
                <h2>Company</h2>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Testimonials</a></li>
                    <li><a href="">Terms of Service</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row2">
            <p>Copyright ©2025 All rights reserved</p>
        </div>
    </div>
</footer>
