<header class="header">
    <!-- Logo -->
    <a href="#!"><strong>Notary</strong></a>
    <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</header>
