<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <title>About</title>
    </head>
    <body>
        <div class="wrapper">
            <%- include('./partials/header.ejs') %>
            <main>
                <div class="hero2">
                    <div class="hero__col1">
                        <h1><strong>About Us</strong></h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Veritatis cupiditate deserunt placeat
                            necessitatibus a aliquam corrupti nisi odio aliquid,
                            accusamus.
                        </p>
                    </div>
                </div>
                <div class="section2">
                    <div class="col-img">
                        <div class="col1-img">
                            <img src="/atty_1.jpg.webp" alt="" />
                        </div>
                        <div class="col2-img">
                            <img src="/atty_2.jpg.webp" alt="" />
                        </div>
                    </div>
                    <div class="col-infor">
                        <h3>
                            We Provide Highly
                            <strong>Reliable & Effective</strong>
                            Legal Solutions
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Repudiandae, explicabo iste a labore id est
                            quas, doloremque veritatis! Provident odit pariatur
                            dolorem quisquam, voluptatibus voluptates optio
                            accusamus, vel quasi quidem!
                        </p>
                        <a href="#" class="btn-about">Book an appointment</a>
                    </div>
                </div>
            </main>
            <%- include('./partials/footer.ejs') %>
        </div>
        <script type="module" src="./main.js"></script>
    </body>
</html>
